<!-- Blogs Section -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Testimonials</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="testimonials-content">
            <div class="swiper testimonials-slider js-testimonials-slider">
                <div class="swiper-wrapper">
                    <!-- Testimonial  -->
                    {% assign sorted_testimonials = site.testimonials | sort: 'order' | reverse%}
                    {% for testimonial in sorted_testimonials %}
                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <div class="text-box">

                                {% if testimonial.linkedin_url %}
                                <a href="{{ testimonial.linkedin_url}}" target="_blank">
                                    <h3 class="name">
                                
                                        {{ testimonial.name }}
                                
                                        {% if testimonial.linkedin_url %}
                                        <i class="fa-brands fa-linkedin " style="color: #0A66C2;"></i>
                                        {% endif %}
                                
                                    </h3>
                                </a>
                                {% else %}
                                <h3 class="name">
                                
                                    {{ testimonial.name }}
                            
                                    {% if testimonial.linkedin_url %}
                                    <i class="fa-brands fa-linkedin " style="color: #0A66C2;"></i>
                                    {% endif %}
                            
                                </h3>

                                {% endif %}
                                <span class="job">{{ testimonial.job_title }}</span>
                            </div>
                        </div>
                        <p> <i>"{{ testimonial.description }}"</i></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
             <div class="swiper-pagination js-testimonials-pagination"></div>
        </div>
        
    </div>
</section>